<div class="form-container">
    <h2>Agregar Paciente</h2>
    <form (ngSubmit)="agregarpaciente()" #pacienteForm="ngForm">
        <div class="form-group">
            <label for="nombre">Nombre</label>
            <input 
                type="text"
                id="nombre"
                class="form-control"
                [(ngModel)]="paciente.nombre_paciente"
                name="nombre_paciente"
                required
                #nombre="ngModel"
            />
            <div *ngIf="nombre.invalid && nombre.touched" class="error-message">
                El nombre es requerido >:(
            </div>
        </div>
    
        <div class="form-group">
            <label for="apellido">Apellido</label>
            <input 
                type="text"
                id="apellido"
                class="form-control"
                [(ngModel)]="paciente.apellido_paciente"
                name="apellido_paciente"
                required
                #apellido="ngModel"
            />
            <div *ngIf="apellido.invalid && apellido.touched" class="error-message">
                El apellido es requerido >:(
            </div>
        </div>
    
        <div class="form-group">
            <label for="rut">RUT</label>
            <input 
                type="text"
                id="rut"
                class="form-control"
                [(ngModel)]="paciente.rut_paciente"
                name="rut_paciente"
                required
                #rut="ngModel"
                pattern="\d{1,2}(\.\d{3}){2}-[\dkK]"
            />
            <div *ngIf="rut.invalid && rut.touched" class="error-message">
                El RUT debe ser válido (Ej: 20.523.367-9)
            </div>
        </div>

        <div class="form-group">
            <label for="edad">Edad</label>
            <input 
                type="text"
                id="edad"
                class="form-control"
                [(ngModel)]="paciente.edad_paciente"
                name="edad_paciente"
                required
                #edad="ngModel"
                pattern="^\d*$"
            />
            <div *ngIf="edad.invalid && edad.touched" class="error-message">
                La edad debe ser un número válido y mayor a 0
            </div>
        </div>
    
        <div class="form-group">
            <label for="telefono">Teléfono</label>
            <input 
                type="text"
                id="telefono"
                class="form-control"
                [(ngModel)]="paciente.telefono_paciente"
                name="telefono_paciente"
                required
                #telefono="ngModel"
                pattern="^\d{9}$"
            />
            <div *ngIf="telefono.invalid && telefono.touched" class="error-message">
                El teléfono debe tener 9 dígitos
            </div>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!pacienteForm.form.valid">Agregar</button>
    </form>
</div>