<div class="pacientes-list-container">
    <h2>Listado de Pacientes</h2>
    <table class="pacientes-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let paciente of pacientes">
                <td>{{ paciente.id_paciente }}</td>
                <td>{{ paciente.nombre_paciente }}</td>
                <td>{{ paciente.apellido_paciente }}</td>
                <td>
                    <button (click)="verDetalle(paciente)">Ver Detalle</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<!-- EC2, IDAAS, API GATEWAY
mostrar endpoints postman sin token para mostrar error 401
login para recuperar el token y usar postman con token para codigo 200
luego ejecutar el front, intentando entrar a una url sin iniciar sesion
luego iniciar sesion y mostrar funciones -->