<div class="navbar">
  <table>
    <tr>
      <td><button (click)="iniciarSesion()" *ngIf="!usuarioEstaConectado()" class="iniciar-sesion">Iniciar Sesión</button></td>
      <td><button (click)="cerrarSesion()" *ngIf="usuarioEstaConectado()" class="cerrar-sesion">Cerrar Sesión</button></td>
      <td><button (click)="irMenu()" *ngIf="usuarioEstaConectado()" class="menu">Menu</button></td>
    </tr>
  </table>
</div>

<div class="estado">
  <div *ngIf="usuarioEstaConectado()" class="estado-contenido">
    <button class="back-button" *ngIf="usuarioEstaConectado()" (click)="volverAtras()">⬅</button>
    <h3>Sesión iniciada correctamente</h3>
  </div>
  <div *ngIf="!usuarioEstaConectado()">
    <h3>Sesión NO iniciada</h3>
  </div>
</div>

<div class="contenido">
  <router-outlet></router-outlet>
</div>