.pagina-privada-container {
    font-family: 'Poppins', sans-serif;
    margin: 20px;
    padding: 40px;
    background-color: #f9f9f9;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #004494;
    text-align: center;
    font-size: 3rem;  /* Aumento de tamaño */
    font-weight: bold;
    margin-bottom: 30px;
}

.usuario-conectado span {
    display: block;
    font-size: 16px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    color: #333;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    gap: 30px;  /* Más espacio entre los botones */
    margin-top: 40px;
    flex-wrap: wrap;
}

.big-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 40px 90px;  /* Aumento de ancho */
    font-size: 2.5rem;  /* Aumento de tamaño de la fuente */
    margin: 20px;
    border-radius: 15px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.2s;
    width: 450px;  /* Aumento más considerable del ancho */
    height: 180px;  /* Reducción adicional de la altura */
    box-sizing: border-box;
}

.big-button:hover {
    background-color: #0056b3;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
    transform: scale(1.05);
}

.big-button i {
    margin-right: 25px;  /* Más espacio entre el icono y el texto */
    font-size: 4rem;  /* Aumento de tamaño del icono (el doble) */
}

fa-icon {
    margin-right: 25px;
    font-size: 4rem;  /* Aumento de tamaño del icono (el doble) */
}
